<ul class="header__user-menu js-submenu-container">
    <li>
        <a href="profile_basic.html" class="profile">
            <span class="icon "></span>
            <span class="texts">
                Mi Perfil
            </span>
        </a>
    </li>
    <li>
        <a href="my_houses.html" class="house">
            <span class="icon"></span>
            <span class="texts">
                Mis Casas
            </span>
        </a>
    </li>
    <li>
        <a href="my_reservations_host.html" class="reserve">
            <span class="icon"></span>
            <span class="texts">
                Mis Reservas
            </span>
        </a>
    </li>
    <li>
        <a href="invite.html" class="invite">
            <span class="icon"></span>
            <span class="texts">
                Invita a tus amigos
            </span>
        </a>
    </li>
    <li>
        <a href="" class="help">
            <span class="icon"></span>
            <span class="texts">
                Ayuda
            </span>
        </a>
    </li>
    <li>
        <a href="" class="logout">
            <span class="icon"></span>
            <span class="texts">
                Salir
            </span>
        </a>
    </li>
</ul>
