
{% block header %}
    <div class="header">
        <div class="header__search">
            <a href="" class="header__logo">
                <img src="images/mobile/layout/logo.svg" alt="" width="43" />
            </a>
            <div class="header__search-container">
                <span class="icon"></span>
                <input type="text" placeholder="¿Adonde quieres ir?" class="header__search-input" />
            </div>
        </div>
        <ul class="header__links">
            <li>
                <a href="#" class="houses">
                    <span class="text">
                        Mis Casas
                    </span>
                    <span class="icon"></span>
                </a>
            </li>
            <li>
                <a href="#" class="notifications">
                    <span class="text">
                        Notificaciones
                    </span>
                    <span class="icon"></span>
                </a>
            </li>
            <li>
                <a href="#" class="help">
                    <span class="text">
                        Ayuda
                    </span>
                    <span class="icon"></span>
                </a>
            </li>
            <li>
                <a href="#" class="points">
                    30 pts
                </a>
            </li>
            <li>
                <a href="#" class="user">
                    <span class="text">
                        Andrés
                    </span>
                    <span class="icon">
                        <img src="images/mobile/layout/profile@2x.png" alt="" />
                    </span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
