<div class="container">

    <div class="row home__section">
        <div class="home__section-title">
            Explore the world
        </div>
        <div class="home__section-text">
            Here’s a selection of our best spaces
        </div>
    </div>

    <div class="explore__wrapper" >
        <div class="explore__container big">
            <div class="explore__subcontainer">
                <div class="explore__item" style=" background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace-wp-content/wp-content/uploads/sites/2/2014/07/Bcn-living-mosaic-600x600.jpg&quot;);">
                    <a href="#" class="explore__overlay">
                        <div class="explore__overlay-cell">
                            <div class="house__related-points">
                                325 <span>points</span>
                            </div>

                            <div class="house__related-profile-image">
                                {% include '../content/component/image.html.twig' with {
                                    alt: 'Iris',
                                    common: true,
                                    class: 'house-resume__profile',
                                    image: 'layout/host@2x.png',
                                } only %}
                            </div>
                            <h3 class="explore__overlay-title">Thomas’ home</h3>
                            <div class="explore__overlay-text">Amsterdam</div>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="explore__container">
            <div class="explore__subcontainer">
                <div class="explore__item small simple" style="background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace/wp-content/uploads/sites/2/2014/07/Par%C3%ADs-vista-a%C3%A9rea-torre-eiffel.jpg&quot;);">
                    <a href="#" class="explore__overlay">
                        <div class="explore__overlay-cell">
                            <h3>Paris</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="explore__subcontainer">
                <div class="explore__item small simple" style=" background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace-wp-content/wp-content/uploads/sites/2/2014/07/historical-ferris-wheel-tower-church-large.jpg&quot;);">
                    <a href="#" class="explore__overlay" >
                        <div class="explore__overlay-cell">
                            <h3>London</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="explore__container double">
            <div class="explore__subcontainer">
                <div class="explore__item" style="background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace-wp-content/wp-content/uploads/sites/2/2014/07/airbnbhost-mosaic-600x600.jpg&quot;);">
                    <a href="#" class="explore__overlay">
                        <div class="explore__overlay-cell">
                            <h3>Airbnb Hosts</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="explore__container">

            <div class="explore__subcontainer">
                <div class="explore__item" style="background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace/wp-content/uploads/sites/2/2014/07/Pool-Terrace-Garden-Furniture-Open-Plan-Beach-House-San-Salvador-El-Salvador-600x600.jpg&quot;);">
                    <a href="#" class="explore__overlay">
                        <div class="explore__overlay-cell">
                            <h3>Pools &amp; Beach</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {# BERLIN #}
        <div class="explore__container">

            <div class="explore__subcontainer">
                <div class="explore__item" style="background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace-wp-content/wp-content/uploads/sites/2/2014/07/Berlin-kitche-mosaic-600x600.jpg&quot;);">
                    <a href="#" class="explore__overlay">
                        <div class="explore__overlay-cell">
                            <h3>Berlin</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {# NEW YORK #}
        <div class="explore__container big simple">
            <div class="explore__subcontainer">
                <div class="explore__item" style="background-image: url(&quot;https://s3-eu-west-1.amazonaws.com/mytwinplace/wp-content/uploads/sites/2/2014/07/topcities-nyc-600x600.jpg&quot;);">
                    <a href="#" class="explore__overlay" >
                        <div class="explore__overlay-cell">
                            <h3>New York</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
