<div class="container" >

    <div class="home__subsearch-wrapper">
        <div class="home__subsearch-title">
            ¿Nada se Ajusta a lo que buscas?
        </div>
        <div class="home__subsearch-text">
            Dinos un destino o tus fechas y te proponemos algo :)
        </div>

        <div class="home__subsearch">
            <form class="home__search-container ">
                <div class="home__search-wrapper ">
                    <span class="icon"></span>

                    <input type="text" placeholder="¿Adonde quieres ir?" class="home__search-container-input location" />

                    <div class="input-daterange">
                        <input type="text" name="start" class="input-sm form-control home__search-container-input start" placeholder="Llegada"/>

                        <input type="text" name="end" class="input-sm form-control home__search-container-input end"  placeholder="Salida"/>
                    </div>
                    <div class="home__search-submit-container">
                        <input type="submit" class="home__search-submit" value="Buscar" />
                    </div>
                </div>

                <div class="home__subsearch-options">
                    <span class="home__subsearch-option">O si lo preﬁeres,</span>
                    <a href="" class="home__subsearch-date">
                        dinos qué fechas quieres viajar
                    </a>
                    <a href="" class="home__subsearch-location">
                        dinos a donde quieres viajar
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
