@import "variables";
@import "typographie";

.booking__case-main-container {
    background: $white;
    bottom: 0;
    display: none;
    height: 0;
    position: fixed;
    margin-top: 59px;
    top: 0;
    z-index: 2;

    @include respond-to(tablet) {
        background: none;
        bottom: auto;
        display: block;
        margin-top: 0;
        position: relative;
    }

    @include respond-to(desktop) {
        position: absolute;
    }

    &.fixed {
        left: 0;
        position: fixed;
        right: 0;
        top: 40px;
    }

    .close {
        background: $base-color-1;
        border-radius: 100px;
        border: 1px solid $black;
        height: 29px;
        position: absolute;
        right: 15px;
        top: 58px;
        width: 29px;
        z-index: 1;

        @include respond-to(tablet) {
            display: none;
        }

        &:after,
        &:before {
            background: $black;
            content: '';
            height: 2px;
            left: 6px;
            margin-top: -1px;
            position: absolute;
            top: 50%;
            width: 16px;
        }

        &:after {
            @include transform(rotate(45deg));
        }

        &:before {
            @include transform(rotate(-45deg));
        }
    }

    > .container {
        pointer-events: none;
    }
}

.booking__case {
    pointer-events: auto;

    &.col-lg-4 {
        float: right;
        position: relative;
        z-index: 1;

        @include respond-to(tablet) {
            margin-top: 60px;
        }

        @include respond-to(desktop) {
            margin-top: 0;
        }
    }

    &.fixed {
        position: absolute;
        margin-top: 0;
        z-index: 10000;
        right: 0;
    }
}

.booking__case-container {
    float: left;
    position: relative;
}

.booking__container {
    background: $white;
    box-sizing: border-box;
    padding: 67px 0 20px;
    position: relative;
    width: 100%;

    @include respond-to(tablet) {
        background: $base-color-0;
        padding: 20px;
    }
}

.booking__header {
    @include ff_gothamRounded();
    background: rgba(246, 246, 246, .8);
    box-sizing: border-box;
    color: $base-color-4;
    float: left;
    height: 40px;
    line-height: 40px;
    left: -30px;
    right: -30px;
    padding: 0 20px;

    position: absolute;
    top: 0;

    @include respond-to(tablet) {
        padding: 0 10px;
        left: 0;
        right: 0;
        top: -40px;

        .fixed & {
            background: rgba(230, 230, 230, 1);
        }
    }
}

.booking__points,
.booking__extra_info {
    float: left;
    width: 50%;
}

.booking__points {
    font-size: 16px;
    line-height: 42px;
    padding-left: 8px;

    .icon {
        @include image('layout/my-twin-place_icon.png', 'mobile');
        display: inline-block;
        height: 20px;
        margin-left: 5px;
        margin-top: -3px;
        vertical-align: middle;
        width: 20px;
    }
}

.booking__extra_info {
    font-size: 12px;
    padding-right: 10px;
    text-align: right;

    @include respond-to(tablet) {
        padding-right: 0;
    }
}

.booking__body {
    font-size: 14px;
    color: $base-color-3;

    .row {
        float: left;
        width: 100%;
    }

    .titles,
    .content {
        float: left;
        width: 50%;
    }

    .booking__inputs {
        margin-bottom: 10px;
        width: 100%;

        @include respond-to(tablet) {
            display: table;
            border-spacing: 10px 0;
            margin-left: -10px;
            width: calc(100% + 20px);
        }
    }

    .booking__input {
        margin-bottom: 10px;
        float: left;
        width: 100%;

        @include respond-to(tablet_portrait) {
            width: 100px;
        }

        @include respond-to(tablet) {
            display: table-cell;
            float: none;
            margin-bottom: 0;
            width: 40%;

            + .booking__input {
                + .booking__input {
                    width: 20%;
                }
            }
        }

        @include respond-to(desktop) {
            width: 100px;
        }

        input,
        select {
            -webkit-appearance: none;
            background: $white;
            border: 1px solid $base-color-1;
            border-radius: 4px;
            height: 36px;
        }

        label {
            @include ff_gothamRounded();
            color: $base-color-2;
            font-size: 12px;
            width: 100%;
        }
    }

    .booking__input-arrival {
        box-sizing: border-box;
        padding-left: 10px;
        width: 100%;

        @include respond-to(desktop) {
            //width: 78px;
        }
    }

    .booking__input-departure {
        box-sizing: border-box;
        padding-left: 10px;
        width: 100%;

        @include respond-to(desktop) {
            //width: 100px;
        }
    }

    .booking__input-people {
        box-sizing: border-box;
        padding-left: 10px;
        width: 100%;

        @include respond-to(desktop) {
            padding-left: 10px;
            text-align: center;
            //width: 54px;
        }
    }
}

.booking__row {
    border-bottom: 1px solid $base-color-1;
    float: left;
    font-size: 12px;
    color: $base-color-6;
    padding-bottom: 3px;
    margin-bottom: 5px;
    width: 100%;

    &:last-child {
        border-bottom: 0;
    }


    .content {
        font-style: italic;
        padding-right: 5px;
        text-align: right;
    }
}

.booking__submit {
    @include ff_gothamRounded();
    @include transition();
    -webkit-appearance: none;
    background: $blue;
    border: 0;
    border-bottom: 1px solid $blue-dark;
    border-radius: 4px;
    color: $white;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include respond-to(tablet) {
        margin-top: 20px;
    }

    &:hover {
        background: $blue-hover;
        color: $white;
        text-decoration: none;
    }

    + .house__info-container {
        margin-top: 20px;
    }

    &.disable {
        background: $base-color-1;
        border: 1px solid $base-color-1;
        color: $white;

        &:hover {
            background: $base-color-2;
            border: 1px solid $base-color-2;
        }
    }
}

.booking__watching {
    padding-top: 20px;
}

.booking__watching-title {
    @include ff_gothamRoundedBold();
    width: 100%;
}

.booking__watching-text {
    padding-top: 5px;
    width: 100%;
}

.booking__watching-icon {
    @include image('layout/watch_icon.png', 'mobile');
    float: right;
    height: 34px;
    margin-left: 10px;
    width: 31px;

    @include respond-to(tablet) {
        margin-top: -10px;
    }
}

.booking__warning {
    background: #FFF8D0;
    box-sizing: border-box;
    color: $base-color-6;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    padding: 15px;
    position: relative;
    width: 100%;
}

.booking__warning-icon {
    @include image('layout/warning_icon.png', 'mobile');
    height: 22px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 22px;
}

.booking__fire-icon {
    @include image('layout/fire_icon.png', 'mobile');
    height: 22px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 22px;
}

.booking__warning-text {
    line-height: 18px;
    padding-left: 30px;

    a {
        color: $blue;
    }

    br.text {

        @include respond-to(tablet) {
            display: block;
        }

        @include respond-to(tablet_portrait) {
            display: none;
        }
    }
}
