@import "variables";
@import "typographie";

.footer__container {
    background-color: $base-color-0;
    box-sizing: border-box;
    color: $base-color-4;
    float: left;
    padding-top: 30px;
    position: relative;
    margin-top: 30px;
    width: 100%;
}

.footer__link {
    a {
        @include transition();
        color: $base-color-1;
        margin-bottom: 2px;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

.footer__link-title {
    @include ff_gothamRoundedMedium();
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;

    @include respond-to(tablet) {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
}

.footer__links-container {
    padding: 0 0 10px 0;

    a {
        color: $base-color-5;
        font-size: 14px;
        float: left;
        line-height: 15px;
        margin-bottom: 8px;
        width: 100%;
    }

    &.cells_2 {
        a {

            @include respond-to(desktop_big) {
                width: 50%;
            }
        }
    }
}

.footer__links-container-wrapper {
    @include respond-to(desktop_big) {
        box-sizing: border-box;
        padding-left: 40px;
    }
}

.footer__logo {
    @include image('layout/logo_icon.png', 'mobile');
    height: 86px;
    left: 50%;
    margin-left: -42px;
    position: absolute;
    top: -43px;
    width: 86px;
    z-index: 1;
}

.social-icons__container {
    float: left;
    margin: 10px 0 0;
    width: 100%;
}

.social-icons {
    display: table;
    margin: 20px auto 0;
    max-width: 400px;
    text-align: center;
    width: 100%;

    @include respond-to(tablet) {
        float: right;
        width: 197px;
    }

    .icon-container {
        @include transition();
        display: inline-block;
        height: 36px;
        position: relative;
        width: 32px;

        &:hover {
            .icon {
                opacity: 1;
            }
        }

        + .icon-container {
            margin-left: 18%;

            @include respond-to(tablet) {
                margin-left: 20px;
            }
        }

        .icon {
            float: left;
            height: 36px;
            opacity: .8;
            width: 36px;
        }

        &.facebook {
            .icon {
                @include image('layout/footer/facebook_icon.png', 'mobile');
            }
        }

        &.twitter {
            .icon {
                @include image('layout/footer/twitter_icon.png', 'mobile');
            }
        }

        &.email {
            .icon {
                @include image('layout/footer/mail_icon.png', 'mobile');
            }
        }

        &.pinterest {
            .icon {
                @include image('layout/footer/pinterest_icon.png', 'mobile');
            }
        }
    }
}

.selector {
    margin-bottom: 30px;
}

.selector-language {
    @include transition();
    background: $blue;
    border-radius: 2px;
    color: $base-color-0;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    opacity: .9;
    padding: 0 10px;
    position: relative;
    width: 100%;

    &:hover {
        opacity: 1;
    }

    &:after {
        @include transform(rotate(-135deg));
        border-top: 1px solid $white;
        border-left: 1px solid $white;
        content: '';
        height: 10px;
        margin-top: -6px;
        position: absolute;
        right: 15px;
        top: 50%;
        width: 10px;
        z-index: 1;
    }
}

.footer__rights {
    bottom: 14px;
    color: $base-color-6;
    display: table;
    font-size: 14px;
    margin: 20px auto 10px;
    position: absolute;
    text-align: left;
    width: 100%;

    br {
        @include respond-to(tablet) {
            display: none;
        }
    }

    @include respond-to(tablet) {
        bottom: 0;
        float: left;
        position: relative;
        text-align: center;
        margin: 30px auto 35px;
    }
}

.footer__post-container {
    box-sizing: border-box;
    color: $base-color-4;
    float: left;
    margin-bottom: 15px;
    width: 100%;

    &:hover {
        background: rgba(255,255,255,.2);

        .footer__post-title {
            text-decoration: underline;
        }
    }
}

.footer__post-image-container {
    position: relative;
    padding-bottom: 20%;
}

.footer__post-image {
    background-size: cover;
    bottom: 0;
    left: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.footer__post-info {
    float: left;
    padding-left: 20px;
}

.footer__post-title {
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}

.footer__post-date {
    font-size: 14px;
}

.footer__post-text {
    font-size: 12px;
}

.footer__images {
    clear: both;
    float: left;
    //margin-bottom: 10px;
    margin-top: 20px;

    @include respond-to(tablet) {
        clear: none;
        float: left;
        margin-bottom: 0;
        margin-left: 28px;
        margin-top: 24px;
    }

    + .footer__images {
        margin-bottom: 80px;

        @include respond-to(tablet) {
            margin-bottom: 0;
        }
    }
}

.footer__social-container {
    background: $base-color-8;
    float: left;
    margin-top: 25px;
    width: 100%;
}
