@import "var-mixins";
@import "typographie";

.header {
    @include ff_gothamRounded();
    @include transform(translateZ(0));
    background: $white;
    border-bottom: 1px solid $base-color-0;
    height: 60px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;

    @include respond-to(tablet) {
        position: absolute;
    }
}

.header__search {
    float: left;
}

.header__logo {
    border-right: 1px solid $base-color-1;
    box-sizing: border-box;
    float: left;
    height: 60px;
    padding-left: 8px;
    width: 60px;

    img {
        display: none;

        @include respond-to(tablet) {
            display: inline-block;
            opacity: 1;
        }
    }

    .burger {
        float: left;
        padding-top: 16px;

        span {
            border-radius: 3px;
            background: $base-color-2;
            clear: both;
            height: 3px;
            float: left;
            margin-left: 10px;
            margin-top: 5px;
            width: 25px;
        }

        @include respond-to(tablet) {
            display: none;
        }
    }
}

.header__search-container {
    float: left;
    height: 59px;
    overflow: hidden;
    padding-left: 8px;

    .icon {
        @include image('layout/search_icon.png', 'mobile');
        float: left;
        height: 19px;
        margin: 21px 8px 8px;
        width: 18px;
    }
}

.header__search-input {
    border: 0;
    float: left;
    height: 60px;
    line-height: 60px;
    outline: none;
    width: 200px;
}

.header__links {
    display: none;
    float: right;
    list-style: none;

    @include respond-to(tablet) {
        display: block;
    }

    li {
        border-right: 1px solid $base-color-1;
        float: left;
        min-height: 60px;

        &:last-child {
            border-right: 0;
        }

        a {
            color: $base-color-1;
            padding: 0 15px;

            &:hover {
                color: $base-color-2;
            }

            .text {
                float: left;
                margin-right: 15px;
                display: none;

                @include respond-to(desktop) {
                    display: block;
                }
            }

            .icon {
                float: left;
            }

            &.houses {
                .icon {
                    @include image('layout/house_icon.png', 'mobile');
                    height: 19px;
                    margin-top: 20px;
                    width: 20px;
                }
            }

            &.notifications {
                .icon {
                    @include image('layout/message_icon.png', 'mobile');
                    height: 17px;
                    margin-top: 22px;
                    width: 21px;
                }
            }

            &.help {
                .icon {
                    @include image('layout/help_icon.png', 'mobile');
                    height: 17px;
                    margin-top: 21px;
                    width: 17px;
                }
            }

            &.user {
                .icon {
                    border: 1px solid $base-color-1;
                    border-radius: 30px;
                    height: 30px;
                    margin-top: 14px;
                    overflow: hidden;
                    width: 30px;

                    img {
                        float: left;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.image__container {
    float: left;
    padding-top: 60px;
    position: relative;
    width: 100%;

    img {
        float: left;
        position: relative;
        width: 100%;
    }
}
