@import "variables";
@import "typographie";

.house__submenu {
    max-height: 0;
    overflow: hidden;
    display: none;

    @include respond-to(tablet) {
        display: block;
    }

    @include respond-to(tablet_portrait) {
        display: none;
    }

    @include respond-to(desktop) {
        @include transition_str((opacity .3s, top .3s));
        background: $base-color-1;
        color: $base-color-5;
        float: left;
        line-height: 40px;
        opacity: 0;
        position: fixed;
        top: 20px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    a {
        color: $base-color-5;
        float: left;
        margin-right: 25px;
    }
}

.booking__case-main-container {
    &.show-sub-menu {
        +.house__submenu {
            max-height: 40px;
            opacity: 1;
            top: 60px;
        }
    }
}

.house-resume__container {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: -15px;
    padding: 20px;
    vertical-align: top;
    width: calc(100% + 30px);

    @include respond-to(tablet) {
        border-bottom: 1px solid $base-color-1;
        float: none;
        display: table;
        margin-left: 0;
        padding: 20px 20px 20px 0;
        width: 100%;
    }
}

.house-resume__title {
    @include ff_gothamRounded();
    font-size: 20px;
    line-height: 22px;
    text-align: center;

    @include respond-to(tablet) {
        font-size: 24px;
        line-height: 26px;
        margin-top: 20px;
        text-align: left;
    }
}


.house-resume__user {
    text-align: center;
    @include respond-to(tablet){

    }
}

.house-resume__profile {
    display: block;
    margin: auto;
    border-radius: 78px;
    width: 78px;

    @include respond-to(tablet){
        border-radius: 120px;
        display: table-cell;
        width: 120px;
    }

    .reviews & {
        @include respond-to(tablet){
            width: 60px;
        }
    }
}

.house-resume__general-info {

    @include respond-to(tablet) {
        display: table-cell;
        padding-left: 20px;
        vertical-align: top;
    }

    .star__container {
        @include respond-to(tablet) {
            @include transform(translateY(2px));
        }
    }

    .reviews__amount {
        display: block;

        @include respond-to(tablet) {
            display: inline-block;
        }
    }
}

.house-resume__location {
    color: $base-color-5;
    display: table;
    margin: 10px auto 0;
    text-align: center;

    @include respond-to(tablet) {
        display: block;
        margin: 10px auto 0;
        text-align: left;
    }
}

.house-resume__profile-name {
    opacity: 0;

    @include respond-to(tablet) {
        @include ff_gothamRounded();
        display: block;
        float: left;
        font-size: 18px;
        margin-top: 10px;
        opacity: 1;
        text-align: center;
        width: 100%;
    }

    .reviews & {
        color: $base-color-3;
        font-size: 14px;
    }
}

.house-resume__icons {
    float: left;
    margin: 20px 0 0;
    padding: 0;
    width: 100%;

    @include respond-to(tablet) {
    }

    .list-item {
        float: left;
        list-style: none;
        position: relative;
        width: 25%;

        @include respond-to(tablet) {
        }

        &.people {
            .icon {
                @include image('layout/people_icon.png', 'mobile');
                height: 26px;
                margin: 0 0 0 -13px;
                width: 26px;
            }
        }

        &.room {
            .icon {
                @include image('layout/room_icon.png', 'mobile');
                height: 26px;
                margin: 0 0 0 -13px;
                width: 26px;
            }
        }

        &.depto {
            font-size: 14px;
            .icon {
                @include image('layout/room_icon.png', 'mobile');
                height: 26px;
                margin: 0 0 0 -13px;
                width: 26px;
            }
        }

        &.bath {
            .icon {
                @include image('layout/bath_icon.png', 'mobile');
                height: 26px;
                margin: 0 0 0 -13px;
                width: 26px;
            }
        }

        .icon {
            display: block;
            left: 50%;
            margin: auto;
            position: absolute;
            top: 10px;

            @include respond-to(tablet) {
                float: left;
                left: 0;
                margin: 0 !important;
                position: relative;
                top: 0;
            }
        }

        .text {
            color: $base-color-2;
            float: left;
            font-size: 10px;
            margin-top: 40px;
            text-align: center;
            width: 100%;

            @include respond-to(tablet) {
                margin: 5px 10px;
                width: auto;
            }
        }
    }
}

.house__info-container {
    margin-top: 45px;
}

.house__info-title {
    @include ff_gothamRounded();
    color: $base-color-4;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;

    @include respond-to(tablet) {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.host {
        margin: 30px 0;
    }
}

.house__info-description {
    color: $base-color-6;
    float: left;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
}

.house__section-container {
    border-bottom: 1px solid $base-color-1;
    color: $base-color-6;
    float: left;
    padding: 20px 0;
    width: 100%;

    &.clean {
        border-bottom: 0 solid;
    }
}


.house__section-title {
    @include ff_gothamRounded();
    color: $blue;
    float: left;
    min-height: 10px;
    width: 100%;

    @include respond-to(tablet) {
        width: 30%;
    }
}

.house__section-column {
    float: left;
    margin-top: 5px;
    line-height: 22px;
    width: 100%;

    + .house__section-column {
        margin-top: 0;
    }

    @include respond-to(tablet) {
        margin-top: 0;
    }

    &:first-child {

    }

    @include respond-to(tablet) {
        padding-right: 20px;
        width: 35%;

        + .house__section-column {
            padding-right: 0;
        }
    }

    &.amenities-column {

        .hidden-services {
            display: none;
        }

        .amenitie {
            width: 50%;

            @include respond-to(tablet) {
                width: 100%;
            }
        }

        .disable {
            display: none;

            @include respond-to(tablet) {
                display: block;
            }
        }

        @include respond-to(tablet) {
            margin-top: -4px;
        }
    }
}

.house__section-row {
    float: left;
    width: 100%;
}

.house__section-subcolumn {
    float: left;
    width: 50%;
}

.house__section-column-2 {
    float: left;
    padding-top: 10px;
    width: 100%;

    @include respond-to(tablet) {
        width: 70%;
        padding-top: 0;
    }
}



// Amenities

.amenitie {
    box-sizing: border-box;
    float: left;
    height: 30px;
    padding-left: 36px;
    position: relative;
    line-height: 30px;
    width: 100%;

    &.disable {
        color: $base-color-2;
        padding-left: 0;
        text-decoration: line-through;
    }

    &.kitchen {
        .icon {
            @include image('amenities/kitchen_icon.png', 'mobile');
            height: 27px;
            margin-left: -11px;
            margin-top: -13px;
            width: 23px;
        }
    }

    &.air_condition {
        .icon {
            @include image('amenities/air_condition_icon.png', 'mobile');
            height: 27px;
            margin-left: -10px;
            margin-top: -10px;
            width: 20px;
        }
    }

    &.gym {
        .icon {
            @include image('amenities/gym_icon.png', 'mobile');
            height: 20px;
            margin-left: -13px;
            margin-top: -13px;
            width: 27px;
        }
    }

    &.internet {
        .icon {
            @include image('amenities/internet_icon.png', 'mobile');
            height: 27px;
            margin-left: -13px;
            margin-top: -13px;
            width: 27px;
        }
    }

    .icon {
        position: absolute;
        left: 16px;
        top: 50%;
    }
}

.house__section-description {
    position: relative;
    float: left;
    width: 100%;
}

.house-items__container {
    float: left;
    //margin-top: 20px;
    width: 100%;
}
