@import '../../bower_components/bootstrap/dist/css/bootstrap.css';
@import '../../bower_components/normalize-scss/normalize.scss';
@import '../../bower_components/compass-breakpoint/stylesheets/breakpoint';
@import '../../bower_components/jeet/scss/jeet/jeet';
@import '../../bower_components/ion.rangeSlider/css/ion.rangeSlider.css';
@import '../../bower_components/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css';
@import "variables";
@import "typographie";
@import 'general';
@import "booking";
@import 'settings';
@import 'b64';
@import 'header';
@import "house_resume";
@import "wishlist";
@import "photo";
@import "reviews";
@import "related";
@import "footer";
@import "search";
@import "pagination";
@import "explorer";
@import "left_column";
@import "right_column";
@import "transactions";
@import "pages/home";
@import "pages/my_houses";
@import "pages/profile";
@import "pages/add_house";
@import "pages/invite";
@import "pages/message";
@import "pages/calendar";
@import "libs/daterangepicker";
//@import "libs/jquery.rateyo.css";

.jq-ry-container {
    position: relative;
    padding: 0 5px;
    line-height: 0;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.jq-ry-container[readonly="readonly"] {
    cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
    display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
    width: 0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rateYo {
    margin: 10px auto 0;

    @include respond-to(tablet) {
        margin: 0;
        float: right;
    }
}
