@import '../../bower_components/bootstrap/dist/css/bootstrap.css';
@import '../../bower_components/normalize-scss/normalize.scss';
@import '../../bower_components/compass-breakpoint/stylesheets/breakpoint';
@import '../../bower_components/jeet/scss/jeet/index';
@import "var-mixins";
@import "typographie";
@import "booking";
@import 'settings';
@import 'b64';
@import 'header';
@import "house_resume";
@import "wishlist";
@import "photo";
@import "reviews";
@import "related";
@import "footer";

a {
    display: block;
}

$large: 1024px;

$palette: (
    'green': #00B141,
    'orange': #FC6719,
    'purple': #742E8B,
    'pink': #EF3EA9
);

* {
    box-sizing: border-box;
}

body {
    font-family: $font__main;

    //background-color: color('green');
    @include breakpoint($large) {
        //background-color: color('orange');
    }
}

@mixin ff_gothamRounded() {
    font-family: GothamRounded-Book;
}

.star__container {
    margin: 0 10px;

    .house-resume__location & {
        display: inline-block;
        @include transform(translateY(-2px));
    }
}

.star {
    height: 15px;
    width: 15px;
}

.btn {
    @include ff_gothamRoundedBold();
    @include transition();
    background: $white;
    border: 1px solid $base-color-1;
    border-radius: 3px;
    color: $base-color-4;
    height: 36px;
    float: left;
    line-height: 36px;
    padding: 0 20px;
    margin-bottom: 20px;
    width: 100%;

    &:hover {
        background: $base-color-0;
    }

    &.helpfull {
        float: right;
        margin-top: 25px;
        padding-left: 40px;
        position: relative;
        width: auto;

        .icon {
            @include image('layout/helpfull_icon.png', 'mobile');
            display: inline-block;
            height: 17px;
            left: 15px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            width: 20px;
        }
    }
}

.bold {
    @include ff_gothamRoundedBold();
}

.tag {
    background: $base-color-0;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
}

.tag__value {
    color: $base-color-2;
}

.background__container-animation {
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.fav {
    @include image('layout/fav_icon.png', 'mobile');
    @include transition();
    background-position: 50% !important;
    background-size: cover;
    cursor: pointer;
    height: 31px;
    opacity: .6;
    width: 35px;
    z-index: 10;


    &:before {
        @include image('layout/fav_icon.png', 'mobile');
        background-position: top !important;
        background-size: cover;
        content: '';
        height: 31px;
        opacity: 0;
        position: absolute;
        width: 35px;
        z-index: 13;
    }

    &:hover {
        opacity: 1;

        &.true {
            opacity: .7;
        }
    }

    &.true {
        opacity: 1;

        &:before {
            opacity: 1;
        }
    }
}
