@mixin ff_gothamRounded () {
  font-family: GothamRounded-Book;
}

@mixin ff_gothamRoundedBold () {
    font-family: GothamRounded-Bold;
}

@mixin ff_gothamRoundedMedium () {
    font-family: GothamRounded-Medium;
}

@mixin ff_Helvetica () {
    font-family: "Helvetica Neue";
}
