<div class="house__section-container">
    <div class="house__section-title">
        Amenities
    </div>
    <div class="house__section-column amenities-column">
        <span class="amenitie kitchen">
            <span class="icon"></span>
            Cocina
        </span>
        <span class="amenitie disable">
            Aparcamiento
        </span>
        <span class="amenitie internet">
            <span class="icon"></span>
            Internet
        </span>
        <span class="amenitie disable">
            Elementos básicos
        </span>

        <span class="amenitie disable">
            Champú
        </span>
        <span class="amenitie disable">
            Calefacción
        </span>
        <span class="amenitie air_condition">
            <span class="icon"></span>
            Aire <acond class=""></acond>
        </span>
        <span class="amenitie disable">
            Lavadora
        </span>
        <span class="amenitie disable">
            Secadora
        </span>
        <span class="amenitie disable">
            TV
        </span>
        <span class="amenitie disable">
            Internet inalámbrico (wifi)
        </span>
        <span class="amenitie disable">
            TV por satélite
        </span>
        <span class="amenitie disable">
            Desayuno
        </span>
        <span class="amenitie disable">
            Admite mascotas
        </span>
        <span class="amenitie disable">
            <span class="icon"></span>
            Apto para familias y niños
        </span>

    </div>
    <div class="house__section-column amenities-column">
        <span class="amenitie disable">
        Apto para eventos
        </span>
        <span class="amenitie disable">
        Apto para fumadores
        </span>
        <span class="amenitie disable">
        Acceso para discapacitados
        </span>
        <span class="amenitie disable">
        Edificio con ascensor
        </span>
        <span class="amenitie disable">
        Chimenea interior
        </span>
        <span class="amenitie disable">
            Calefacción
        </span>
        <span class="amenitie disable">
          Aire acondicionado
        </span>
        <span class="amenitie disable">
          Lavadora
        </span>
        <span class="amenitie disable">
          Secadora
        </span>
        <span class="amenitie disable">
          TV
        </span>
        <span class="amenitie disable">
          Internet inalámbrico (wifi)
        </span>
        <span class="amenitie disable">
          TV por satélite
        </span>
        <span class="amenitie disable">
          Desayuno
        </span>
        <span class="amenitie disable">
          Admite mascotas
        </span>
        <span class="amenitie disable">
        Zona para trabajar con portátiles
        </span>
    </div>
</div>
