
<div class="house__section-container">
    <div class="house__section-title">
        Disponibilidad
    </div>
    <div class="house__section-column-2">
        Estadía mínima de <span class="bold">2 noches</span>
    </div>
</div>