
<div class="house__section-container">
    <div class="house__section-title">
        Descripción
    </div>
    <div class="house__section-column-2">
        <a href="" class="btn">
            Traducir comentarios al español
        </a>

        El loft de 90 m2 es muy luminoso y soleado y se incluido un patio privada de 20 m2. La arquitectura es realmente única para una ciudad como Buenos Aires, donde la mayoría de los edificios están inspirados por los primeros casas europeos del siglo 20.
    </div>
</div>
