<div class="house-resume__container">

    <div class="house-resume__user">

        {% include 'component/image.html.twig' with {
            alt: 'Host',
            common: true,
            class: 'house-resume__profile',
            image: 'layout/host@2x.png',
        } only %}

        <span class="house-resume__profile-name">
            Iris
        </span>

    </div>

    <div class="house-resume__general-info">

        <div class="house-resume__title">
            BONITO APT EN EL CENTRO DE BCN
        </div>
        <div class="house-resume__location">
            Barcelona, Spain

            <span class="star__container">
                {% for i in 0..3 %}
                    {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                    } only %}
                {% endfor %}

                {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                } only %}
            </span>
            (36)
        </div>

        <ul class="house-resume__icons">
            <li class="list-item people">
                <span class="icon"></span>
                <span class="text">
                    2 Personas
                </span>
            </li>
            <li class="list-item room">
                <span class="icon"></span>
                <span class="text">
                    1 Habitación
                </span>
            </li>
            <li class="list-item depto">
                <span class="icon"></span>
                <span class="text">
                    Depto Completo
                </span>
            </li>
            <li class="list-item bath">
                <span class="icon"></span>
                <span class="text">
                    1 Baño
                </span>
            </li>
        </ul>

    </div>
</div>
