<div id="map" class="map__embed">

    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>

    <div id='gmap_canvas' class="map__embed-iframe"></div>
    <script type='text/javascript'>function init_map() {
            var myOptions = {
                zoom: 14,
                center: new google.maps.LatLng(41.3850639, 2.1734034999999494),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(41.3850639, 2.1734034999999494)
            });
            infowindow = new google.maps.InfoWindow({content: '<strong>Barcelona</strong><br><br>08021 Barcelona<br>'});
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', init_map);</script>

</div>

