<div class="photo__container">
    <div class="photo__row">
        <div class="photo__row-big hidden-xs">
            <div class="background__container-animation lazyload" style="background-image: url('https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93b5/f987/8c62/8900/032d/large/mtp-5462f1a4d766066e9e867e70b3bddc6d4a45.jpg?1444123573');" ></div>
            {#{% include 'twig/content/component/background_image.html.twig' with {
                alt: 'Header Image logo',
                common: false,
                class: 'logo_image',
                image: 'images/image_1@2x.png',
            } only %}#}
        </div>
        <div class="photo__row-big hidden-xs">
            <div class="background__container-animation lazyload" style="background-image: url('https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93b4/f987/8c62/8900/032c/large/mtp-5ce5fe00ec1a446d4b5bfbc221af8ad0a0db.jpg?1444123571');" ></div>
            {#{% include 'twig/content/component/background_image.html.twig' with {
                alt: 'Header Image logo',
                common: false,
                class: 'logo_image',
                image: 'images/image_2@2x.png',
            } only %}#}
        </div>
    </div>
    <div class="photo__row">

        <div class="photo__row-small hidden-xs">
            <div class="background__container-animation lazyload" style="background-image: url('https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93b9/f987/8c62/8900/032f/large/mtp-5a07743c54749ec34173e555ddc34ed9242a.jpg?1444123577');" ></div>
            {#{% include 'twig/content/component/background_image.html.twig' with {
                alt: 'Header Image logo',
                common: false,
                class: 'logo_image',
                image: 'images/image_3@2x.png',
            } only %}#}
        </div>
        <div class="photo__row-small hidden-xs">

            <div class="background__container-animation lazyload" style="background-image: url('https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/56de/c309/edf3/0a03/0900/001d/original/mtp-c1fdd23bd6284a2e04040796c2a2218fe642.jpg?1457439496');" ></div>

            {#{% include 'twig/content/component/background_image.html.twig' with {
            alt: 'Header Image logo',
            common: true,
            class: 'logo_image',
            image: 'images/image_4@2x.png',
            } only %}
#}

        </div>
        <div class="photo__row-small">

            <div class="background__container-animation lazyload" style="background-image: url('https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/9397/97dc/de33/d700/02dd/large/mtp-3d8afbdf9a01ac95aa3ff4c8bc308eeebba2.jpg?1444123543');" ></div>
            {#{% include 'twig/content/component/background_image.html.twig' with {
                alt: 'Header Image logo',
                common: false,
                class: 'logo_image',
                image: 'images/image_5@2x.png',
            } only %}#}

            <a href="" class="photo__view-all">
                            <span class="photo__view-text">
                                Ver todas las 20 fotos
                            </span>
            </a>
        </div>

    </div>

</div>
