

<div class="house__section-container">
    <div class="house__section-title">
        Normas de la casa
    </div>
    <div class="house__section-column-2">
        La hora de entrada es después de 13:00.
    </div>
</div>
