
<div class="house__section-container">
    <div class="house__section-title">
        El Espacio
    </div>
    <div class="house__section-column">

        Capacidad: <span class="bold">2</span><br/>
        Baños: <span class="bold">1</span><br/>
        Dormitorios: <span class="bold">1</span>

    </div>
    <div class="house__section-column">
        Cama: <span class="bold">1</span><br/>
        Tipo de propiedad: <span class="bold">Departamento</span><br/>
        Tipo de habitación: <span class="bold">Casa/apto. entero</span>
    </div>
</div>
