<div class="house__section-container">
    <div class="house__section-title">
        Summario
    </div>
    <div class="house__section-column">
        <div class="house__section-row">
            <div class="house__section-subcolumn">
                Precisión
            </div>
            <div class="house__section-subcolumn">

                <span class="star__container">
                    {% for i in 0..3 %}
                        {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                        } only %}
                    {% endfor %}

                    {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                    } only %}
                </span>

            </div>
        </div>
        <div class="house__section-row">
            <div class="house__section-subcolumn">
                Comunicación
            </div>
            <div class="house__section-subcolumn">

                <span class="star__container">
                    {% for i in 0..3 %}
                        {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                        } only %}
                    {% endfor %}

                    {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                    } only %}
                </span>

            </div>
        </div>
        <div class="house__section-row">
            <div class="house__section-subcolumn">
                Limpieza
            </div>
            <div class="house__section-subcolumn">

                <span class="star__container">
                    {% for i in 0..3 %}
                        {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                        } only %}
                    {% endfor %}

                    {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                    } only %}
                </span>

            </div>
        </div>
    </div>
    <div class="house__section-column">
        <div class="house__section-row">
            <div class="house__section-subcolumn">
                Locación
            </div>
            <div class="house__section-subcolumn">

                <span class="star__container">
                    {% for i in 0..3 %}
                        {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                        } only %}
                    {% endfor %}

                    {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                    } only %}
                </span>

            </div>
        </div>
        <div class="house__section-row">
            <div class="house__section-subcolumn">
                Check-in
            </div>
            <div class="house__section-subcolumn">

                <span class="star__container">
                    {% for i in 0..3 %}
                        {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                        } only %}
                    {% endfor %}

                    {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                    } only %}
                </span>

            </div>
        </div>
        <div class="house__section-row">
            <div class="house__section-subcolumn">
                Valor
            </div>
            <div class="house__section-subcolumn">

                <span class="star__container">
                    {% for i in 0..3 %}
                        {% include 'component/image.html.twig' with {
                        alt: 'Host',
                        common: true,
                        class: 'star',
                        image: 'layout/star_icon@2x.png',
                        } only %}
                    {% endfor %}

                    {% include 'component/image.html.twig' with {
                    alt: 'Host',
                    common: true,
                    class: 'star',
                    image: 'layout/star_icon_off@2x.png',
                    } only %}
                </span>

            </div>
        </div>
    </div>
</div>
