<div class="booking__warning">
    <div class="booking__warning-icon"></div>
    Recuerda que sólo pagarás cuando quieras confirmar esta reserva e Iris haya aceptado tu solicitud.
</div>

<div class="wishlist">
    <div class="wishlist__functionality">
        <a href="" class="wishlist__button">
            <span class="icon"></span>Save to wish list
        </a>

        <div class="wishlist__online">
            564 personas están mirando este anuncio
        </div>
    </div>

    <div class="wishlist__actions">
        <a href="" class="wishlist__btn email">
            <span class="icon"></span>
            <span class="text">
                Email
            </span>
        </a>
        <a href="" class="wishlist__btn social">
            <span class="icon"></span>
            <span class="text">
                Redes sociales
            </span>
        </a>
    </div>
</div>

<a href="" class="wishlist__report">
    Report this listing
</a>
