
<div class="invite__action-container">

    <div class="invite__action-cell invite__icon-container">
        <div class="invite__icon {{ class }}"></div>
    </div>

    <div class="invite__action-cell">
        <a href="" class="booking__submit">Ver Contactos</a>
    </div>
</div>
<div class="invite__action-text">
    Contactos de {{ text }}
</div>
