
<div class="house__section-container">
    <div class="house__section-title">
        Descripción
    </div>
    <div class="house__section-column-2">
        <a href="" class="btn">
            <span class="hidden-xs">Traducir comentarios al español</span>
            <span class="visible-xs">Traducir comentarios ESP</span>
        </a>

        <div class="house__section-description hidden-content">
        El loft de 90 m2 es muy luminoso y soleado y se incluido un patio privada de 20 m2. La arquitectura es realmente única para una ciudad como Buenos Aires, donde la mayoría de los edificios están inspirados por los primeros casas europeos del siglo 20.
        </div>

        <div class="hidden-more">
            El loft de 90 m2 es muy luminoso y soleado y se incluido un patio privada de 20 m2. La arquitectura es realmente única para una ciudad como Buenos Aires, donde la mayoría de los edificios están inspirados por los primeros casas europeos del siglo 20.
        </div>

        <a href="" class="more">Más +</a>


    </div>
</div>
