<div class="house__info-container">
    <div class="house__info-title">
        Información sobre este anuncio
    </div>
    <div class="house__info-description">
        Spacious room 2double beds in alternative district in Barcelona.
        5 min walking to MarBella beach and poblenou metro. Quiet place, but near to night life areas, Rambla de
        poblenou, Razzmatazz, Port Forum. Perfect place for authentic local experience.
    </div>
</div>
