
<div class="house__section-container">
</div>
<div class="house__section-container clean">
    <div class="house__info-title">
        Descubre otras opciones en Barcelona y sus alrededores
    </div>

    <div class="house__info-description">
        More places to stay in Buenos Aires: Houses · Bed & Breakfasts · Lofts · Villas · Condominiums<br/>
        People also stay in Punta del Este Vacation Rentals · Punta del Diablo · Buenos Aires · Montevideo · Santiago · Florianopolis
    </div>
</div>
