<div class="booking__warning">
    <div class="booking__warning-icon"></div>
    <div class="booking__warning-text">
        ¿No tienes suficientes puntos?
        <br class="text"/>
        No te preocupes, te lo ponemos fácil :)
        <br/>

        <a href="">
            Consigue más puntos ahora
        </a>
    </div>
</div>

<div class="booking__warning">
    <div class="booking__fire-icon"></div>
    <div class="booking__warning-text">
        ¡Alojamiento muy solicitado!
        <br/>
        ¡Reserva ahora para no perderlo!
    </div>
</div>

<div class="wishlist hidden-xs">
    <div class="wishlist__functionality">
        <a href="" class="wishlist__button">
            <span class="icon"></span>Guardar en mi wishlist
        </a>

        <div class="wishlist__online">
            564 personas están mirando este anuncio
        </div>
    </div>

    <div class="wishlist__actions">
        <a href="" class="wishlist__btn email">
            <span class="icon"></span>
            <span class="text">
                Enviar por email
            </span>
        </a>
        <a href="" class="wishlist__btn social">
            <span class="icon"></span>
            <span class="text">
                Redes sociales
            </span>
        </a>
    </div>
</div>
