<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="search-modal">
                <div class="col-sm-12">

                    <div class="profile__section">
                        <div class="profile__section-title only">
                            Solicitud Múltiple

                            <a href="" class="profile__save btn">Cancelar</a>
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <label class="label-form">Detalles de viaje</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="input-daterange">
                                            <div class="filters__row-input">
                                                <input type="text" name="llegada" class="input-sm form-control filter__input" placeholder="Llegada"/>
                                            </div>
                                            <div class="filters__row-input">
                                                <input type="text" name="salida" class="input-sm form-control filter__input"  placeholder="Salida"/>
                                            </div>
                                            <div class="filters__row-select">

                                                <select name="personas" class="form-control">
                                                    <option>Huéspedes</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Mensaje -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <label class="label-form">Mensaje</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <textarea name="description" class="textarea-form" placeholder="Descriíbete. MyTwinPlace se basa en las relaciones personales. Ayuda a otros usuarios a conocerte un poco mejor"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="profile__section">

                        <!-- Mensaje -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <label class="search__extra-info-title">
                                    <span>6 alojamientos</span> Seleccionados
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9">
                                <a href="" class="booking__submit profile__save">
                                    Enviar
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="profile__section show-multiple">

                        <div class="house-items__container">
                            <div class="">

                                {% set content = [
                                    {
                                        title: 'Excelente departamento en ...',
                                        description: 'Casa/apto. entero — a 0.6 kilómetros',
                                        image_profile: 'layout/host.png',
                                        image: 'https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93c0/f987/8c62/8900/0333/large/mtp-dd6eb3470618bf308ad7679337d1464a67a4.jpg?1444123584',
                                        points: '253',
                                        user_name: 'Martha',
                                    }, {
                                        title: 'Excelente departamento en ...',
                                        description: 'Casa/apto. entero — a 0.6 kilómetros',
                                        image_profile: 'layout/host.png',
                                        image: 'https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93bc/f987/8c62/8900/0331/large/mtp-9a0190e97e2382795a05867e10dfcb71023a.jpg?1444123580',
                                        points: '253',
                                        user_name: 'Martha',
                                    }, {
                                        title: 'Excelente departamento en ...',
                                        description: 'Casa/apto. entero — a 0.6 kilómetros',
                                        image_profile: 'layout/host.png',
                                        image: 'https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93bb/f987/8c62/8900/0330/large/mtp-286f5065837ec7090efa8a94379b93d39198.jpg?1444123579',
                                        points: '253',
                                        fav: true,
                                        user_name: 'Martha',
                                    }
                                ] %}

                                {% for item in content %}
                                    <div class="search__house-item selected">

                                        {% include '../content/component/house_item.twig' with {
                                            item: item
                                        } %}

                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
