<div class="modal fade bs-example-modal-lg congrats" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="search-modal">

                <div class="col-sm-12">

                    <div class="profile__section header-section">
                        <div class="profile__section-title only">
                            ¡MUY BIEN!
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12">
                                Genial Lucía, tu casa ya ha sido añadida a MyTwinPlace.<br/>
                                ¡Comprueba los datos y a viajar por todo el mundo!
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <input type="submit" class="btn booking__submit profile__save" value="Ver mi anuncio">

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
