<div class="modal fade bs-example-modal-lg importing" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="search-modal">

                <div class="col-sm-12">

                    <div class="profile__section header-section">
                        <div class="profile__section-title only">
                            Importando anuncio
                                <img src="images/mobile/layout/preloader@2x.gif" width="20" alt="" class="importing-preloader" />
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12">
                                Estamos importando tu anuncio<br/>
                                <a href="" class="btn-link">
                                    https://www.airbnb.com/room/123456789
                                </a><br/>
                                Estará listo en unos minutos.
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <img src="images/mobile/layout/importing@2x.png" width="252" alt="" class="importing-image" />

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
