<div class="modal fade bs-example-modal-lg verify-account-code" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="search-modal">

                <div class="col-sm-12">

                    <div class="profile__section header-section">
                        <div class="profile__section-title only">
                            Verficar Cuenta
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                Introduce el código de verificación que acabas de recibir.<br/><br/>
                                <a href="" class="btn-link">Volver a enviar el código</a>

                                <br/>

                                <label class="label-form-input">
                                    Código de verificación
                                </label>

                                <input type="text" class="input-form" placeholder="********"/>

                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <input type="submit" class="btn booking__submit profile__save" value="Verificar">


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
