<div class="modal fade bs-example-modal-lg verify-account" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="search-modal">

                <div class="col-sm-12">

                    <div class="profile__section header-section">
                        <div class="profile__section-title only">
                            Verficar Cuenta
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12">
                                Añade tu número de teléfono para verificar tu cuenta.
                                <br/>
                                Te enviaremos un código a este número.
                                <br/><br/><br/>
                            </div>
                            <div class="col-xs-12 ">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="label-form-input">País</label>
                                        <select class="form-control">
                                            <option>Código país</option>
                                            <option>34</option>
                                            <option>31</option>
                                            <option>32</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="label-form-input">Teléfono</label>
                                        <input type="text" class="filter__input" placeholder="666 666 666">
                                    </div>

                                    <div class="col-xs-12">
                                        <a href="" class="btn booking__submit">
                                            ENVIAR CÓDIGO DE VERIFICACIÓN
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
