{% extends "twig/layout.twig" %}

{% set current = 'home' %}

{% block page %}

    <div class="image__container">

        <div class="background__container-animation"></div>

        <div class="home__header-content">
            <div class="home__header-title">
                Alójate gratis en casas
                de más de 160 paises
            </div>
            <div class="home__header-subtitle">
                Host travelers. Earn Nights Points. Stay for free.
            </div>

            <div class="home__header-play-button"></div>
        </div>

        <div class="home__search">
            <form class="home__search-container ">
                <div class="home__search-wrapper ">
                    <span class="icon"></span>
                    <input type="text" placeholder="¿Adonde quieres ir?" class="home__search-container-input location" />

                    <div class="input-daterange hidden-xs">
                        <input type="text" name="start" class="input-sm form-control home__search-container-input start" placeholder="Llegada"/>

                        <input type="text" name="end" class="input-sm form-control home__search-container-input end"  placeholder="Salida"/>
                    </div>

                    <div class="select-sm hidden-xs">
                        <select name="personas" class="" placeholder="Huéspedes">
                            <option>1 persona</option>
                            <option>2 personas</option>
                            <option>3 personas</option>
                            <option>4 personas</option>
                        </select>
                    </div>
                    <div class="home__search-submit-container">
                        <input type="submit" class="home__search-submit" value="Buscar" />
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container " >
        <div class="row home__section">
            <div class="home__section-title">
                GIVE WINGS TO YOUR PROJECTS
            </div>
            <div class="home__section-text">
                Stay for free in entrepreneurs' homes.
            </div>
        </div>

        {% include 'twig/house/related.twig' with {
            show_title: false
        }%}

        <div class="home__section">
            <div class="home__section-title">
                GIVE WINGS TO YOUR PROJECTS
            </div>
            <div class="home__section-text">
                Stay for free in entrepreneurs' homes.
            </div>
        </div>

        {% include 'twig/home/entrepreneurs.twig' %}
    </div>

    {# SUBSEARCH #}
    {% include 'twig/home/subsearch.twig' %}

    {# TRAVELERS #}
    {% include 'twig/home/travelers.twig' %}

    {# EXPLORE THE WORLD #}
    {% include 'twig/home/explore.twig' %}


{% endblock %}
