{% extends "twig/layout.twig" %}

{% set current = 'home' %}

{% block page %}

    <div class="image__container">
        {% include 'twig/content/component/background_image.html.twig' with {
            alt: 'Header Image logo',
            common: false,
            class: 'logo_image',
            image: 'header_image.png',
        } only %}
    </div>
    <div class="container " >
    <div class="row booking__case-container">

        <div class="booking__case hidden-xs col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <!-- Booking Case-->
            {% include 'twig/content/booking.twig' %}
        </div>

        <div class="col-lg-8 col-md-8 col-xs-12" id="content">
            <!-- Preview User Depto-->
            {% include 'twig/content/house_resume.twig' %}

            <!-- Reservation button, only visible in mobile -->
            <a href="" class="booking__submit col-xs-12 visible-xs">
                Solicitar reserva
            </a>

            <!-- House info -->
            {% include 'twig/content/house_info.twig' %}

            <div class="house__section-container">
                <div class="house__section-title">
                    Contact host
                </div>
            </div>

            <!-- House Space -->
            {% include 'twig/content/space.twig' %}

            <!-- House Amenities -->
            {% include 'twig/content/amenities.twig' %}

            <!-- House Description -->
            {% include 'twig/content/description.twig' %}

            <!-- House Rules -->
            {% include 'twig/content/rules.twig' %}

            <!-- House Availability -->
            {% include 'twig/content/availability.twig' %}

            <!-- Photos -->
            {% include 'twig/content/photos.twig' %}

            <!-- Reviews -->
            {% include 'twig/content/reviews.twig' %}

        </div>

        <div class="col-md-12 col-lg-12">
            <!-- Map -->
            {% include 'twig/content/map.twig' %}

            <!-- Related -->
            {% include 'twig/content/related.twig' %}
        </div>


    </div>
    </div>



{% endblock %}
