{% extends "twig/layout.twig" %}

{% set current = 'house' %}

{% block page %}

    <div class="profile">

        <div class="container">

            <div class="row">
                <!-- IMAGE PROFILE -->
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    {% include 'twig/profile/left_column.twig' %}
                </div>

                <div class="col-sm-9 col-sm-7 col-md-8 col-lg-9">
                    {% include 'twig/profile/right_column.twig' %}
                </div>
            </div>

        </div>
    </div>


{% endblock %}
