{% extends "twig/layout.twig" %}

{% set current = 'search' %}

{% block page %}

    <div class="container " >
        <div class="row ">

            <div class="hidden-xs search__map-container">

                {% include 'twig/house/map.twig' %}
            </div>

            {% include 'twig/search/sidebar.twig' %}
            {% include 'twig/search/overlay.twig' %}

        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
