<div class="traveler__row">
    <div class="traveler__info">
        <div class="label_win">
            <span class="text">Has ganado</span>

            <span class="points">700</span>

            <span class="text">
                puntos
            </span>

        </div>
        <div class="content_win">
            Reserva ahora tu próximo viaje en
            más de 20.000 destino

            <br/>

            <a href="">
                Mira nuestras sugerencias
            </a>
        </div>
    </div>
</div>
