<div class="traveler__row">
    <div class="traveler__info">
        <div class="label_win full">
            <span class="text">Ganarías</span>

            <span class="points">700</span>

            <span class="text">
                puntos
            </span>

        </div>
        <div class="label_win full">

            <div class="traveler__row">
                <div class="traveler__info">
                    <div class="label">Puntos/noche</div>
                    <div class="content">120 puntos</div>
                </div>
                <div class="traveler__info">
                    <div class="label">Noches</div>
                    <div class="content">3 noches</div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="content_win">
    Reserva ahora tu próximo viaje en
    más de 20.000 destino

    <br/>

    <a href="">
        Mira nuestras sugerencias
    </a>
</div>
