<div class="left-column__reservation">
    <div class="left-column__reservation-title">
        {{ title }}
    </div>

    <div class="left-column__reservation-content">
        {% include 'host_data_won.twig' %}
    </div>

</div>
