<div class="left-column__reservation">
    <div class="left-column__reservation-title">
        {{ title }}
    </div>

    <div class="row left-column__reservation-calendar">
        <div class="col-sm-4">
            <label>Llegada</label>
            <div class="content">00/00/00</div>
        </div>
        <div class="col-sm-4">
            <label>Salida</label>
            <div class="content">00/00/00</div>
        </div>
        <div class="col-sm-4">
            <label>Huéspedes</label>
            <div class="content">2</div>
        </div>
    </div>

    <a href="" class="btn-link">
        Ver calendario
    </a>
</div>
