{% include 'left_column_user.twig' with {
    name: 'Martha',
    user_image: 'mobile/user/traveler-image.png',
    location: 'Barcelona, Spain',
    stars: 3,
    reviews: 36,
} only %}


{% include 'left_column_reservation_data.twig' with {
    title: 'Datos de la reserva',
} %}

<div class="left-column__reservation">

    <div class="left-column__reservation-title">
        Martha’s house
    </div>

    <div class="left-column__reservation-content">

        {% set content = [
            {
                image: 'https://d2lirea7fsl1nf.cloudfront.net/pictures/attachments/5613/93bb/f987/8c62/8900/0330/large/mtp-286f5065837ec7090efa8a94379b93d39198.jpg?1444123579',
                points: '253',
                show_icon: false
            }
        ] %}

        {% for item in content %}
            {% include '../content/component/house_item.twig' with {
                item: item
            } only %}
        {% endfor %}

    </div>

</div>

{% include 'left_column_details_traveler.twig' with {
    title: 'Detalles',
} %}
