<div class="left-column__reservation clean">
    <div class="left-column__reservation-title">
        {{ title }}
    </div>

    <div class="left-column__reservation-content">
        {% include 'traveler_data.twig' %}
    </div>

</div>
