<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="search-modal">

                <div class="col-sm-12">

                    <div class="profile__section header-section">
                        <div class="col-sm-6">
                            <div class="profile__section-title only">
                                Modiﬁcar Reserva
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <a href="" class="profile__save booking__submit">Actualizar</a>
                            <a href="" class="profile__save btn">Cancelar</a>
                        </div>
                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <label class="label-form">Datos vigentes</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="input">
                                            <div class="filters__row-input">
                                                <input type="text" name="llegada" class="input-sm form-control filter__input disable" readonly placeholder="Llegada" value="05/07/2016"/>
                                            </div>
                                            <div class="filters__row-input">
                                                <input type="text" name="salida" class="input-sm form-control filter__input disable " readonly placeholder="Salida" value="05/07/2016"/>
                                            </div>
                                            <div class="filters__row-select">

                                                <input type="text" name="salida" class="input-sm form-control filter__input disable " readonly placeholder="Salida" value="2 Huéspedes"/>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="profile__section">

                        <!-- Detalles -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <label class="label-form">Introduce los nuevos datos</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="input-daterange">
                                            <div class="filters__row-input">
                                                <input type="text" name="llegada" class="input-sm form-control filter__input" placeholder="Llegada"/>
                                            </div>
                                            <div class="filters__row-input">
                                                <input type="text" name="salida" class="input-sm form-control filter__input"  placeholder="Salida"/>
                                            </div>
                                            <div class="filters__row-select">

                                                <select name="personas" class="filter__input">
                                                    <option>Huéspedes</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
