<div class="traveler__row">
    <div class="traveler__info">
        <div class="label">Puntos/noche</div>
        <div class="content">120 puntos</div>
    </div>
    <div class="traveler__info">
        <div class="label">Noches</div>
        <div class="content">3 noches</div>
    </div>
    <div class="traveler__info">
        <div class="label">Total</div>
        <div class="content">360 puntos</div>
    </div>
</div>
<div class="traveler__row">
    <div class="traveler__info">
        <div class="label">Gastos de gestión</div>
        <div class="content">29,90 €</div>
    </div>
    <div class="traveler__info">
        <div class="label">Seguro Cancelación</div>
        <div class="content">9,90 €</div>
    </div>
    <div class="traveler__info">
        <div class="label">Total</div>
        <div class="content">39,90 €</div>
    </div>
</div>
