<div class="my-houses__container">

    <div class="my-houses__info win">

        <div class="my-houses__traveler-image">
            <div class="background__container-animation lazyload" style="background-image: url('{{ item.image }}')"></div>

            <div class="house__related-points">
                {{ item.points }} <span>points</span>
            </div>

        </div>

        <div class="my-houses__second-column">

            <div class="my-house__info-title">
                {{ item.title }}
            </div>
            <div class="my-house__info-location clean">
                <span class="icon"></span>{{ item.location}}
            </div>
            <div class="my-house__info-date clean">
                <span class="icon"></span>
                Desde 15/05/2016 hasta 20/05/2016
            </div>

        </div>

        <div class="my-houses__third-column win">
            <div class="traveler__row">
                <div class="traveler__info">
                    <div class="label_win">
                        <span class="text">Has ganado</span>

                        <span class="points">700</span>

                        <span class="text">
                            puntos
                        </span>

                    </div>
                    <div class="content_win">
                        Reserva ahora tu próximo viaje en
                        más de 20.000 destino

                        <br/>

                        <a href="">
                            Mira nuestras sugerencias
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

