

<div class="pagination">
    <div class="pagination__results">
        19-36 de más de 300 alojamientos
    </div>

    <div class="pagination__content">
        <a href="" class="prev"></a>

        <a href="" class="page">1</a>
        <a href="" class="page">2</a>
        <div class="page active">3</div>
        <div class="separator">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="" class="page">17</a>

        <a href="" class="next"></a>
    </div>
</div>
