<div class="house__related-image">
    <div class="background__container-animation lazyload" style="background-image: url('{{ item.image }}')"></div>

    <div class="explore__item">
        <a href="#" class="explore__overlay">
            <div class="explore__overlay-cell">

                <h3 class="explore__overlay-title">GIUSEPPINA</h3>
                <div class="explore__overlay-text">@ Barcelona</div>

            </div>
        </a>
    </div>
</div>


